.container{
    text-align: center;
    color:#fff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
[class*='col-']{
    float: left;
    width: 100%;
    padding: 10px;
}
.row::after{
    clear: both;
    content: '';
    display: table;
}
.hr-style{

    border: 5px dotted black;
    border-bottom: none;
    width: 80px;
    margin: 20px auto;
}
.navbar{
    background-color: #799fbb;
    padding: 2% 10%;
}
.nav-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
   
    
    padding: 0;
    
}
.nav-head{
 
}
.nav-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.nav-menu a{
  color: #fff;
  
  padding: 10px;
  margin: 7px 0;
  
  background-color: #159b32;
  border-radius: 5px;
  transform: .4s;
}
.nav-menu a:hover{
   transform: scale(1.1);
}
.banner-icon{
    width: 90px;
    height: 90px;
}
.banner{
    padding: 15% 5% ;
    background-color: #fff;
    position: relative;
    
    
}
.banner-head{
    width: 50%;
    margin: 60px auto;

}
.banner-head h1{
    color: #000;
    margin-bottom:25px; 
    font-size: 40px;
}
.banner-head p{
    color: #000;
    padding: 10px 0;
}
.banner-top-icon{
    
    position: absolute;
    top: 10%;
    right: 10%;
    transition: .4s;
    margin-bottom: 20px;
}
.banner-top-icon:hover{
  transform: rotate(90deg);
}
.banner-bottom-icon{
    transition: .4s;
    position: absolute;
    bottom: 10%;
    left: 10%;
    
}
.banner-bottom-icon:hover{
    transform: rotate(90deg);
  }

  /* about start here  */

  .about{
    padding:5%;
    
    margin: auto;
    background-color: #11969b;

  }
  .first{
    padding-top: 60px;
  }
  .second{
    text-align: left;
  }
  .about p{
    margin: 10px 0;
  }
  .about-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  /* about end here  */
  /* trisec starts here  */
  .trisec{
 
  background-color: #fff;
  padding: 2%;
 
  
  }
  
  .card{
     padding: 10% 5%;
     background-color: #362626;
     box-shadow: 2px 4px 8px 2px blueviolet;
    
     height: 600px;
    
     
    
    
  }
  .card:hover{
    box-shadow: 4px 8px 16px 4px blueviolet;
  }
  .other{
    padding: 50px 0;
  }
  .other h1{
    display: block;
    background-color: #11969b;
  }
  .work{
  
    padding: 10px 10px;
  }
  .education{
   padding: 10px 10px;
    
  }
  .training{
    padding: 10px 10px;
  }
  .other ul{
    text-align: left;
    padding: 10px;
  }
  .other ul li{
    padding-bottom:30px ;
    position: relative;

  }
  .other ul li::before{
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #11969b;
    height: 10px;
    position: absolute;
    border-radius: 5px;
  }
  .other ul li::after{
    content: '';
    top: 50%;
    left: 0;
    width: 10%;
    background-color: #9b1144;
    height: 10px;
    position: absolute;
    border-radius: 5px;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  li.html::after{
    animation-name: html;
  }
  @keyframes html{
    to{
      width: 90%;
    }
  }
  li.css::after{
    animation-name: css;
  }
  @keyframes css{
    to{
      width: 50%;
    }
  }
  li.bootstrap::after{
    animation-name: bootstrap;
  }
  @keyframes bootstrap{
    to{
      width: 80%;
    }
  }
  li.java::after{
    animation-name: java;
  }
  @keyframes java{
    to{
      width: 90%;
    }
  }
  li.react::after{
    animation-name: react;
  }
  @keyframes react{
    to{
      width: 90%;
    }
  }
  /* trisec ends here  */
  /* all-contact-start here  */

  .all-contact{
    padding: 5%;
    background-color: #221e8b;
    text-align: center;
  }
  .achieve{
  padding: 1%;
  margin: 0 auto;
  text-align: center;
  }
  .achieve p{
    text-align: left;
    padding: 10px 0;
  }
  .contact{
    padding: 1%;
    
    
  }
  .contact input,textarea{
    width: 100%;
    display: block;
    margin: auto;
    padding:10px 60px;
    margin-bottom:15px ;
    text-align: center;

  }
  
  .more-way{
    padding: 1%;

  }
  .social{
    width: 50%;
    margin:30px auto;
  }
  .btn{
    border: none;
    border-radius: 25px;
    font-size: 32px;
    padding: 5px;
    margin: 10px;
    width: 50px;
    border-color: #fff;
  }
  footer{
   padding: 1%;
   background-color: #11969b;
  }
  .footer-text {
    text-align: center;
    padding: 25px;

  }
  .footer-menu{
    text-align: center;
  }
  .footer-menu ul li{
     display: inline-block;
     padding: 15px;
     
  }
  /* all-contact-end here  */